.show-container {
    background-color: #fcfcfc;
    font-size: 18px;
}

.show-container-infos {
    width: 500px;
}

.show-container-infos-img {
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}