<div class="">

        <h3>Book your <%= @instrument.name %></h3>
        <%= render "shared/form_bookings", booking: @booking, instrument: @instrument %>
        <h3><%= @instrument.price %> €/jour</h3>

</div>
