<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/MohamedAmarPro/RBNBEAT"><i class="fab fa-github"></i></a>
    <a href="https://www.1001jeux.fr/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    <a href="https://kitt.lewagon.com/camps/936/lectures/05-Rails%2F02-Rails-CRUD#source"><i class="fab fa-twitter"></i></a>
    <a href="https://www.chasseetpechetv.fr/"><i class="fab fa-linkedin"></i></a>
  </div>
 <i class="fas fa-heart"></i>
</div>
