<div class="footer">
 <i class="fas fa-heart"></i>
  <div class="footer-links">
    <a href="https://github.com/MohamedAmarPro/RBNBEAT"><i class="fab fa-github"></i></a>
  </div>
 <i class="fas fa-heart"></i>
</div>
