.list-index {
  overflow: hidden;
  // height: 120px;
  background: white;
  padding-right: 50px;
}

.list-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.list-index h2 {
  font-weight: bold;
 }

 .list-index p {
  font-style: oblique;
 }

.list-index .cards-index {
  padding: 16px;
  margin-right: 60px;
}

.cards-index {
  display: flex;
  align-items: center;
  margin: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

.cards-index a {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-family: 'Libre Baskerville', serif;
  margin-left: 35px;
}

.cards-index i {
  color: purple;
}

.card-category {
    margin: 32px auto;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(4, 4, 4);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-category a {
    color: white;
    text-decoration: none;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .card-img {
    width: 400px;
  }

  #card-img-share {
    height: 266px;
    object-fit: cover;
  }

  .card-text {
    margin-top: 8px;
  }

  .card-text p {
    font-size: 16px;
    font-weight: normal;
  }

  @media (max-width: 650px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 950px) {
    .card-category {
      width: 300px;
      height: 300px;
    }
    
    .card-img {
      width: 250px;
      height: 150px;
    }
    
    #card-img-share {
      height: 150px;
    }
    
    .card-text h2 {
        font-size: 16px;
    }
    .card-text p {
        font-size: 12px;
    }
  }
