
  <div class="row">
    <div class= "cards-index">
      <div >
        <% if instrument.photos.attached? %>
          <%= cl_image_tag instrument.photos[0].key %>
        <% else %>
          <img src="https://image.shutterstock.com/image-vector/no-ban-stop-signs-music-260nw-271087253.jpg">
        <% end %>
      </div>
      <div >
        <h2><%= link_to instrument.name, instrument_path(instrument), data:{turbo: false}%></h2>
        <p><%= link_to instrument.brand, instrument_path(instrument), data:{turbo: false} %></p>
      </div>
    </div>
  </div>
