<div class="container">
  <h1>Every instruments</h1>
  <%= link_to "share instruments",new_instrument_path %>
  <div class= "list-index">
    <% @instruments.each do |instrument| %>
      <div class="row">
        <div class= "cards-index">
          <div class="col-sm-4 col-lg-1">
            <%= cl_image_tag instrument.photos[0].key %>
          </div>
          <div class="col-sm-8 col-lg-11">
            <h2><%= link_to instrument.name, instrument_path(instrument) %></h2>
            <p><%= link_to instrument.brand, instrument_path(instrument) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
