<div class="container">
  <h1>All instruments</h1>
  <div class = "share">
    <%= link_to "Share your instrument",new_instrument_path %>
  </div>
  <div class= "list-index">
    <%= turbo_frame_tag "instruments" do %>
      <%= render @instruments %>
    <% end %>
  </div>
  <%= render "pager", pagy: @pagy %>
</div>
